article {
	@include vendor-prefix(hyphens, auto);
	line-height: $base-line-height ;
	p {
		/* remove top & bottom margin on first paragraph */
		margin-bottom: 0px; 
		margin-top: 0px;
		
		/* add extra line-height on article paragraph */

		
		/* add paragraph hypenation */
		@include vendor-prefix(hyphens, auto);



		& + p {
			/* add margin on top & bottom start on second paragraph */
			//@include x-rem(margin-top, ($base-line-height / 2));
			/* add text indentation for better reading experience */
			//@include x-rem(text-indent, ($base-line-height * 2)) 
			@include pxtorem(margin-top, 8);
			@include pxtorem(text-indent, 32)

		}
	}
}



/**
 * Fixed article Width 
 */
@if $lock-article-width == true {
article {
		/* Heading style on fixed article width */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        	@include pxtorem(max-width, $article-width-value+200 );
            margin-left: auto; 
            margin-right: auto;
            text-align: center;
        }
		/* Paragraph style on fixed article width */
 		p {
			
			@include pxtorem(max-width, $article-width-value );
			/* make paragraph center of container*/
			@if $center-article-paragraph == true {
				margin-left: auto; 
				margin-right: auto;
				@include breakpoint(baby-bear){
					@include pxtorem(padding-left, 8);
					@include pxtorem(padding-right, 8);
				}
			}
		}
        
        /* List style on fixed article width */
 		ul,
 		ol  {
			@include pxtorem(max-width, ($article-width-value - 32));

			/* make paragraph center of container*/
			@if $center-article-paragraph == true {
					margin-left: auto; 
					margin-right: auto;
					
					@include breakpoint(baby-bear){padding: 0px 1.618rem 0px 1.618rem*2;
				}
			}
		}
 	}
}