/**
 *
 * Default Article Styling
 *
 * [1] add Hyphenation to article text
 * [2] remove top & bottom margin on first paragraph
 * [3] add margin-top and margin-bottom start on second paragraph
 * [4]
 */

article {
	@include vendor-prefix(hyphens, auto); /* 1 */
	line-height: $base-line-height ;
	
	p {
		margin-bottom: 0; /* 2 */
		margin-top: 0; /* 2 */

		& + p { 
			@include pxtorem(margin-top, px($base-line-height/4) ); /* 3 */
			@include pxtorem(margin-bottom, px($base-line-height/4) ); /* 3 */
			@include pxtorem(text-indent, px($base-line-height) ) /* 4 */

		}
	}
}



/**
 * Fixed article Width 
 */
@if $lock-article-width == true {
article {
		/* Heading style on fixed article width */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        	@include pxtorem(max-width, $article-width-value+200 );
            margin-left: auto; 
            margin-right: auto;
            text-align: center;
        }
		/* Paragraph style on fixed article width */
 		p {
			@include pxtorem(max-width, $article-width-value );
			/* make paragraph center of container*/
			@if $center-article-paragraph == true {
				margin-left: auto; 
				margin-right: auto;
				@include breakpoint(baby-bear){
					@include pxtorem(padding-left, 8);
					@include pxtorem(padding-right, 8);
				}
			}
		}
        
        /* List style on fixed article width */
 		ul,
 		ol,
 		dl  {
 			 margin-top: 0;
			 @include pxtorem(max-width, ($article-width-value - 32));

			/* make paragraph center of container*/
			@if $center-article-paragraph == true {
					margin-left: auto; 
					margin-right: auto;
					
					@include breakpoint(baby-bear){padding: 0 1.618rem 0 1.618rem*2;
				}
			}
		}
 	}
}