/*
 * A. Color Definitions [-IA]
 *-------------------------------*/
/*
 * 1. Monochrome Color [-IA1]
 */
$pure-black		: #000;
$black 			: #111; 
$black-1 		: #222; 
$light-black 	: #333;
$dark-grey		: #888;
$grey			: #ccc;
$light-grey 	: #eaeaea;
$white 			: #fcfcfc;
$pure-white 	: #fff;


/*
 * 2. Red Based / Dominant Color [-IA2]
 */
$red-pastel 	: #db6d4c;
$red            : #e43;


/*
 * 3. Yellow Based / Dominant Color [-IA3]
 */

/*
 * 4. Blue Based / Dominant Color [-IA4]
 */
$blue-pastel 	: #8f83fc;


/* 
 * 5. Company Color / Your Main Color [-IA5]
 */
$company-color        : $blue-pastel;
//$company-color-2      : ;



 
	

