/**
 * Heading Reset
 */

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	@include pxtorem(margin-bottom, 16);
 	line-height: 1;
 	font-family: $heading-font-family;
 	font-weight: 700;
 	letter-spacing: -1px;
 	color:  $base-heading-color;
 }

 /**
  * Heading Size
  * Heading size based on modular scale
  */

 .tera__size {
 	@include pxtorem(font-size, modular-scale($base-font-size,   4, 1.618) )
 }

 .giga__size {
	@include pxtorem(font-size, modular-scale( $second-base-font-size,   4, 1.618) )
 }

 .mega__size {
	@include pxtorem(font-size, modular-scale($base-font-size,   3, 1.618) )
 }

 .kilo__size {@include pxtorem(font-size, modular-scale( $second-base-font-size,   3, 1.618) )}

 h1,
 .alpha__size {
 	@include pxtorem(font-size, modular-scale($base-font-size,   2, 1.618) )
 }

 h2,
 .beta__size {
	@include pxtorem(font-size, modular-scale( $second-base-font-size,   2, 1.618) )
 }

 h3,
 .gamma__size {
 	@include pxtorem(font-size, modular-scale($base-font-size,  1, 1.618) )
 }

 h4,
 .delta__size {
	@include pxtorem(font-size, modular-scale( $second-base-font-size,   1, 1.618) )
 }

 h5,
 .base-size,
 .epsilon__size {
	@include pxtorem(font-size, modular-scale($base-font-size,   0, 1.618) )
 }

 h6,
 .small,
 .zeta__size{
	@include pxtorem(font-size, modular-scale( $second-base-font-size,   0, 1.618) )
 }