/**
 *  Link Color
 */
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: lighten($link-color, 5%);
		text-decoration: underline;
	};
	&:active {
		color: darken($link-color, 5%);
	}
}