/*
 * B. Style Variables Settings [-IA]
 *-----------------------------------*/


/*
 * 1. Typographic / Typelate Variables [-IA1]
 */
    $base-font-family : "Open Sans";
    $base-font-size : 16; //in PX
    $base-font-size-percent : 100; // in percent
    $base-line-height : 1.6182;

    /* Font color */
    $base-font-color: $light-black;
	$base-heading-color: $black;

	/* Use paragraph width lock? */
	$lock-paragraph-width : true;

	/* if you set paragraph width true, then set paragraph max-width in px unit*/
	$paragraph-width-value: 500; 

	/* Make article Paragraph always center of container */
	$center-article-paragraph: true!default;