:root {
  --Grid-font-size: 1rem;
  --Grid-gutter-size: 20px;
}

/* Grid */
.Grid-flex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.Grid-flex--flexCells > .Grid-flex-cell {
  display: flex;
}

.Grid-flex--top {
  align-items: flex-start;
}

.Grid-flex--bottom {
  align-items: flex-end;
}

.Grid-flex--center {
  align-items: center;
}

.Grid-flex--justifyCenter {
  justify-content: center;
}

.Grid-flex-cell--top {
  align-self: flex-start;
}

.Grid-flex-cell--bottom {
  align-self: flex-end;
}

.Grid-flex-cell--center {
  align-self: center;
}

.Grid-flex-cell--autoSize {
  flex: none;
}

.Grid-flex--fit > .Grid-flex-cell {
  flex: 1;
}

.Grid-flex--withGutter {
  margin-top: calc(var(--Grid-gutter-size)*-1);
  margin-right: 0;
  margin-bottom: var(--Grid-gutter-size);
  margin-left: calc(var(--Grid-gutter-size)*-1);
}
.Grid-flex--withGutter > .Grid-flex-cell {
  padding-top: var(--Grid-gutter-size);
  padding-right: 0;
  padding-bottom: 0;
  padding-left: var(--Grid-gutter-size);
}
