/* 
 * ------------------------------------
 *     Bedog
 *     By. Indra Pratama Putra
 *     http://indraptama.github.io/bedog; 
 *     Casecading StyleSheets
 * ------------------------------------ */
/* 
 * ---- Table Of Content ----
 * 
 * * INTRODUCTION
 *     A. B.E.M methodology for naming
 *     B. OOCSS Principles
 *     C. Sass
 *     D. Browser Compability
 *     E. Source Order
 *     F. Style Usage
 *     G. Credits
 *     H. License
 * 
 * I. DEFINITIONS AND VARIABLES SETTINGS .......... [-I]
 *     A. Color Definitions ....................... [-IA]
 *        1. Monochrome Color ..................... [-IA1]
 *        2. Red Based / Dominant Color ........... [-IA2]
 *        3. Yellow Based / Dominant Color ........ [-IA3]
 *        4. Blue Based / Dominant Color .......... [-IA4]
 *        5. Company / Your Main Color ............ [-IA5]
 *
 *     B. Style Variables Settings ................ [-IB]
 * 
 * II. FUNCTIONS AND MIXINS ....................... [-II]
 *     A. Sass Function ........................... [-IIA]
 *        1. px to rem and rem converter .......... [-IIA1]
 *     B. Sass Mixins ............................. [-IIB]
 * 
 * III. VENDOR IMPORTS ............................ [-III]
 *     A. Normalize.css as default reset
 *     B. Typeplate as default typographic style
 *     C. Csswizardry-Grids
 *     D. Beautons	
 * 
 * end */
/* 
 * ------------------------------------
 *  * INTRODUCTION
 * ------------------------------------
 * 
 * A. B.E.M Naming Style
 *     http://www.bem.info;
 *     This style will use BEM (Block, Element, Modifer)
 *     naming style.
 * 
 * B. OOCSS Principles
 * 
 * C. Sass
 * 
 * D. Source Order
 * E. Style Usage
 * F. Credits */
/* G. License
 *    
 *    1. Normalize.css v.2.1.0
 *       by Nicolas Gallagher
 *       Licensed under MIT license
 *       url: git.io/normalize;
 *
 *    2. Csswizardry-grids
 *       by Harry Roberts
 *       Licensed under the Apache License, Version 2.0
 *       url: https://github.com/csswizardry/csswizardry-grids
 *
 *    3. beautons
 *       by Harry Roberts
 *       Licensed under the Apache License, Version 2.0
 *       url: https://github.com/csswizardry/beautons
 *
 *    4. typeplate
 *       Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals)
 *       Licensed under Creative Commmons (http://creativecommons.org/licenses/by/3.0)
 *       url: http://typeplate.com;
-*/
/* -------------------------------------------
 *  I. DEFINITIONS AND VARIABLES SETTINGS [-I] 
 * ------------------------------------------- */
/*
 * A. Color Definitions [-IA]
 *-------------------------------*/
/*
 * 1. Monochrome Color [-IA1]
 */
/*
 * 2. Red Based / Dominant Color [-IA2]
 */
/*
 * 3. Yellow Based / Dominant Color [-IA3]
 */
/*
 * 4. Blue Based / Dominant Color [-IA4]
 */
/* 
 * 5. Company Color / Your Main Color [-IA5]
 */
/* B. Style Variables Settings [-IA]
*-----------------------------------*/
/*
 * 1. Typographic / Typelate Variables [-IA1]
 */
/* use responsive text */
/* Font color */
/* Use paragraph width lock? */
/* if you set paragraph width true, then set paragraph max-width in px unit*/
/* Make article Paragraph always center of container */
/**
 *  Setting Media Queries Breakpoint
 */
/* baby bear : 480*/
/* brother bear: */
/* mama Bear */
/* papa Bear */
/*------------------------------------*\
	SVG Pattern
/*------------------------------------*\
/**
 * by  : Philip Rogers;
 * url : http://philbit.com/svgpatterns;
 */
/**
 * White Carbon
 * url : http://codepen.io/progers/pen/dhvim;
 */
/**
 * White Dot
 * http://codepen.io/progers/pen/pmGrg
 */
/**
* Thin Strips
* http://codepen.io/progers/pen/mGcLz
*/
/* ------------------------------------*\
 *	II.  MIXINS AND FUNCTIONS [-II]
/* ------------------------------------ */
/* -------------------------------------------
 *  I. PX to Rem and Em Converter [-IIA1]
 * ------------------------------------------- */
/*
 * this function will convert px units to em or rem units
 * Usage :
 * font-size : rem(16); --> for convert px to rem
 * font-size : em(16);  --> for convert px to em
 */
/* px to rem function */
/* px to em function */
/* convert rem to px */
/*----------------------------------------------------*\
 *  PX to REM Calculation with fallback [-IIB1]
/*----------------------------------------------------*\
/**
 * This mixin will convert px measure unit to rem
 * and will add px fallback
 * Usage :
 * @include pxtorem(font-size, 18);
 *
 * result :
 * font-size : 16px;
 * font-size : 1rem; 
 */
/**
 * Modular Scale
 * url : modularscale.com;
 * mixin bourbon.io
 */
/*------------------------------------*\
 *  Vendor Prefix
/*------------------------------------*\
/**
 * This mixin will add vendor prefix
 * example :
 * @inlcude prefix(hyphens, 0px 0px 25px 3px);
 */
/*------------------------------------*\
 *  Clearfix Mixin
/*------------------------------------*\
 * Example usage :
 * .widget {@include clearfix;};
 */
/* Convert all breakpoint in px unit to breakpoint in em unit  */
/* Mixin Definitions */
/* Mixin */
/* -------------------------------------------
 *  III. VENDOR IMPORTS [-III] 
 * ------------------------------------------- */
/* -------------------------------------------
 *  IV. BASE STYLE [-IV] 
 * ------------------------------------------- */
/**
 * Enable Global Box-sizing
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 *
 * Responsive Text [-IV1A]
 *
 * If you set use_responsive text = true, body text size will
 * incerease in certain break point
 */
@media only screen and (max-width: 30em) {
  html {
    font-size: 95%;
  }
}
@media only screen and (min-width: 30em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 71.25em) {
  html {
    font-size: 110%;
  }
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 125%;
  }
}

/**
 *
 *  Body Setting [-IV1B]
 *
 * [1] Set default body background.
 * [2] Set default font family
 * [3] Set text-rendering to for better kerning
 */
body {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+") repeat;
  /* 1 */
  font-family: "Droid Serif", Georgia, Serif;
  /* 2 */
  text-rendering: optimizeLegibility;
  /* 3 */
}

/**
 * Heading Reset
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1;
  font-family: "Open Sans", "Helvetica Neue", Arial, Sans-Serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #111111;
}

/**
 * Heading Size
 * Heading size based on modular scale
 */
.tera__size {
  font-size: 109.65642px;
  font-size: 6.85353rem;
}

.giga__size {
  font-size: 89.09584px;
  font-size: 5.56849rem;
}

.mega__size {
  font-size: 67.77282px;
  font-size: 4.2358rem;
}

.kilo__size {
  font-size: 55.06541px;
  font-size: 3.44159rem;
}

h1,
.alpha__size {
  font-size: 41.88678px;
  font-size: 2.61792rem;
}

h2,
.beta__size {
  font-size: 34.03301px;
  font-size: 2.12706rem;
}

h3,
.gamma__size {
  font-size: 25.888px;
  font-size: 1.618rem;
}

h4,
.delta__size {
  font-size: 21.034px;
  font-size: 1.31463rem;
}

h5,
.base-size,
.epsilon__size {
  font-size: 16px;
  font-size: 1rem;
}

h6,
.small,
.zeta__size {
  font-size: 13px;
  font-size: 0.8125rem;
}

/**
 *
 * Default Article Styling
 *
 * [1] add Hyphenation to article text
 * [2] remove top & bottom margin on first paragraph
 * [3] add margin-top and margin-bottom start on second paragraph
 * [4]
 */
article {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  /* 1 */
  line-height: 1.6182;
}
article p {
  margin-bottom: 0;
  /* 2 */
  margin-top: 0;
  /* 2 */
}
article p + p {
  margin-top: 6.4728px;
  margin-top: 0.40455rem;
  /* 3 */
  margin-bottom: 6.4728px;
  margin-bottom: 0.40455rem;
  /* 3 */
  text-indent: 25.8912px;
  text-indent: 1.6182rem;
}

/**
 * Fixed article Width 
 */
article {
  /* Heading style on fixed article width */
  /* Paragraph style on fixed article width */
  /* List style on fixed article width */
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  max-width: 750px;
  max-width: 46.875rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
article p {
  max-width: 550px;
  max-width: 34.375rem;
  /* make paragraph center of container*/
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 30em) {
  article p {
    padding-left: 8px;
    padding-left: 0.5rem;
    padding-right: 8px;
    padding-right: 0.5rem;
  }
}
article ul,
article ol,
article dl {
  margin-top: 0;
  max-width: 518px;
  max-width: 32.375rem;
  /* make paragraph center of container*/
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 30em) {
  article ul,
  article ol,
  article dl {
    padding: 0 1.618rem 0 3.236rem;
  }
}

/**
 * 1. Typography Reset 
 */
/*
 * 2. Article paragraph style
 */
/**
 * 3. Paragraph width 
 */
article p {
  max-width: 550px;
  max-width: 34.375rem;
  /* make paragraph center of container*/
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 30em) {
  article p {
    padding-left: 8px;
    padding-left: 0.5rem;
    padding-right: 8px;
    padding-right: 0.5rem;
  }
}

/**
 * 4. Lead Paragraph
 *    - Make first paragraph slightly bigger
 */
.lead {
  font-size: 17.168px;
  font-size: 1.073rem;
}

/**
 * Basic list styling
 */
/**
 * No Style List
 */
/**
* Reset list style
*/
.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__reset > li {
  padding: 0;
  margin: 0;
}

/**
 * No Bullet list
 */
.list__noBullet {
  padding-left: 0;
  list-style: none;
}

/* -------------------------------------------
 *  VII. HELPER CLASS [-VII] 
 * ------------------------------------------- */
/*
 * Clearfix: contain floats [-VIIA]
 * 
 * This clearfix class intend to use in html page.
 * dont @extend this class, if you want use clearfix inside class
 * use mixin clearfix instead.
 * For modern browsers
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
