/* 
 * ------------------------------------
 *     Bedog
 *     By. Indra Pratama Putra
 *     http://indraptama.github.io/bedog; 
 *     Casecading StyleSheets
 * ------------------------------------ */
/* 
 * ---- Table Of Content ----
 * 
 * * INTRODUCTION
 *     A. B.E.M methodology for naming
 *     B. OOCSS Principles
 *     C. Sass
 *     D. Browser Compability
 *     E. Source Order
 *     F. Style Usage
 *     G. Credits
 *     H. License
 * 
 * I. DEFINITIONS AND VARIABLES SETTINGS .......... [-I]
 *     A. Color Definitions ....................... [-IA]
 *        1. Monochrome Color ..................... [-IA1]
 *        2. Red Based / Dominant Color ........... [-IA2]
 *        3. Yellow Based / Dominant Color ........ [-IA3]
 *        4. Blue Based / Dominant Color .......... [-IA4]
 *        5. Company / Your Main Color ............ [-IA5]
 *
 *     B. Style Variables Settings ................ [-IB]
 * 
 * II. FUNCTIONS AND MIXINS ....................... [-II]
 *     A. Sass Function ........................... [-IIA]
 *        1. px to rem and rem converter .......... [-IIA1]
 *     B. Sass Mixins ............................. [-IIB]
 * 
 * III. VENDOR IMPORTS ............................ [-III]
 *     A. Normalize.css as default reset
 *     B. Typeplate as default typographic style
 *     C. Csswizardry-Grids
 *     D. Beautons	
 * 
 * end */
/* 
 * ------------------------------------
 *  * INTRODUCTION
 * ------------------------------------
 * 
 * A. B.E.M Naming Style
 *     http://www.bem.info;
 *     This style will use BEM (Block, Element, Modifer)
 *     naming style.
 * 
 * B. OOCSS Principles
 * 
 * C. Sass
 * 
 * D. Source Order
 * E. Style Usage
 * F. Credits */
/* G. License
 *    
 *    1. Normalize.css v.2.1.0
 *       by Nicolas Gallagher
 *       Licensed under MIT license
 *       url: git.io/normalize;
 *
 *    2. Csswizardry-grids
 *       by Harry Roberts
 *       Licensed under the Apache License, Version 2.0
 *       url: https://github.com/csswizardry/csswizardry-grids
 *
 *    3. beautons
 *       by Harry Roberts
 *       Licensed under the Apache License, Version 2.0
 *       url: https://github.com/csswizardry/beautons
 *
 *    4. typeplate
 *       Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals)
 *       Licensed under Creative Commmons (http://creativecommons.org/licenses/by/3.0)
 *       url: http://typeplate.com;
-*/
/* -------------------------------------------
 *  I. DEFINITIONS AND VARIABLES SETTINGS [-I] 
 * ------------------------------------------- */
/*
 * A. Color Definitions [-IA]
 *-------------------------------*/
/*
 * 1. Monochrome Color [-IA1]
 */
/*
 * 2. Red Based / Dominant Color [-IA2]
 */
/*
 * 3. Yellow Based / Dominant Color [-IA3]
 */
/*
 * 4. Blue Based / Dominant Color [-IA4]
 */
/* 
 * 5. Company Color / Your Main Color [-IA5]
 */
/*
 * B. Style Variables Settings [-IA]
 *-----------------------------------*/
/*
 * 1. Typographic / Typelate Variables [-IA1]
 */
/* Font color */
/* Use paragraph width lock? */
/* if you set paragraph width true, then set paragraph max-width in px unit*/
/* Make article Paragraph always center of container */
/*------------------------------------*\
	SVG Pattern
/*------------------------------------*\
/**
 * by  : Philip Rogers;
 * url : http://philbit.com/svgpatterns;
 */
/**
 * White Carbon
 * url : http://codepen.io/progers/pen/dhvim;
 */
/**
 * White Dot
 * http://codepen.io/progers/pen/pmGrg
 */
/**
* Thin Strips
* http://codepen.io/progers/pen/mGcLz
*/
/* ------------------------------------*\
 *	II.  MIXINS AND FUNCTIONS [-II]
/* ------------------------------------ */
/* -------------------------------------------
 *  I. PX to Rem and Em Converter [-IIA1]
 * ------------------------------------------- */
/*
 * this function will convert px units to em or rem units
 * Usage :
 * font-size : rem(16); --> for convert px to rem
 * font-size : em(16);  --> for convert px to em
 */
/* px to rem function */
/* px to em function */
/*----------------------------------------------------*\
 *  PX to REM Calculation with fallback [-IIB1]
/*----------------------------------------------------*\
/**
 * This mixin will convert px measure unit to rem
 * and will add px fallback
 * Usage :
 * @include pxtorem(font-size, 18);
 *
 * result :
 * font-size : 16px;
 * font-size : 1rem; 
 */
/*------------------------------------*\
 *  Vendor Prefix
/*------------------------------------*\
/**
 * This mixin will add vendor prefix
 * example :
 * @inlcude prefix(hyphens, 0px 0px 25px 3px);
 */
/*------------------------------------*\
 *  Clearfix Mixin
/*------------------------------------*\
 * Example usage :
 * .widget {@include clearfix;};
 */
/*
 * Media Query Mixins
 */
/* Convert all breakpoint in px unit to breakpoint in em unit  */
/* Mixin Definitions */
/* Mixin */
/* -------------------------------------------
 *  III. VENDOR IMPORTS [-III] 
 * ------------------------------------------- */
/* -------------------------------------------
 *  IV. BASE STYLE [-IV] 
 * ------------------------------------------- */
/**
 * Main Setting
 */
body {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+") repeat;
  font-family: "Open Sans";
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 30em) {
  html {
    font-size: 90%;
    color: blue;
  }
}
@media only screen and (min-width: 30em) {
  html {
    font-size: 100%;
    color: red;
  }
}
@media only screen and (min-width: 71.25em) {
  html {
    font-size: 110%;
    color: green;
  }
}

/**
 * 1. Typography Reset 
 */
/*
 * 2. Article paragraph style
 */
article p {
  /* remove top & bottom margin on first paragraph */
  margin-bottom: 0px;
  margin-top: 0px;
  /* add extra line-height on article paragraph */
  line-height: 1.6182;
  /* add paragraph hypenation */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
article p + p {
  /* add margin on top & bottom start on second paragraph */
  /* add text indentation for better reading experience */
  margin-top: 8px;
  margin-top: 0.5rem;
  text-indent: 32px;
  text-indent: 2rem;
}

/**
 * 3. Paragraph width 
 */
article p {
  max-width: 500px;
  max-width: 31.25rem;
  /* make paragraph center of container*/
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 30em) {
  article p {
    padding: 0px 1rem;
  }
}

/**
 * 4. Lead Paragraph
 *    - Make first paragraph slightly bigger
 */
.lead {
  font-size: 17.168px;
  font-size: 1.073rem;
}

/* -------------------------------------------
 *  VII. HELPER CLASS [-VII] 
 * ------------------------------------------- */
/*
 * Clearfix: contain floats [-VIIA]
 * 
 * This clearfix class intend to use in html page.
 * dont @extend this class, if you want use clearfix inside class
 * use mixin clearfix instead.
 * For modern browsers
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
