/* Themes */

.fullheight {
  min-height: 100vh;
}
main {
  padding: 3.5rem 0 0 0;
  z-index: 1;
  background-color: #fcfcfc;
}
.Grid--vertical {
  flex-flow: column wrap;
}

/* Main Header */

.Main-Header {
  height: 3.5rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main-Title {
  font-family: var(--base-font-family);
  font-size: 1rem;
  margin-bottom: 0;
}

@media(--lg-viewport) {
  main {
    padding: 3.5rem 2.5rem 3.5rem 2.5rem;
  }

  .Main-Header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Main-Footer {
    height: 2rem;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
  }
}
.FlexEmbed-ratio--3by4 {
  padding-bottom: 125%;
}
.Hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-size: responsive 1rem 1.416rem;

}
.u-textHero {
  font-size: responsive 3.706rem 5.997rem;
  color: rgba(0, 0, 0, .87);
  font-family: 'playfair display';
  letter-spacing: -0.015em;
}
.Main-Footer {
  border-top: 1px solid #eee;
  color: rgba(0, 0, 0, .25);
}
.Main-Footer * {
  color: rgba(0, 0, 0, .57);
}
