---
layout: layouts/home.njk
permalink: /apps/
eleventyNavigation:
  key: Apps
  order: 3
---

<div class="container-"2>

  <h1 class="beta text-center">Apps</h1>
  <p class="text-center">Kumpulan aplikasi-aplikasi yang saya buat</p>

</div>
