extends src/pug/_default.pug
include src/pug/_button.pug


block content
  section#Hero.Hero.flexs.flex-wrap.mnh-100vh.mnh-auto-l.mb4.mb6-l
    .mw9.center.relative.pt6-l.pb4-l
      .flex.flex-column.db-l.justify-end.mnh-100vh.mnh-auto-l.pl-1of6-l
        .HeroImg.bg-yellow.absolute.center.relative-l.absolute-fill.cover.rellax(data-rellax-speed="-3")
          .aspect-ratio.aspect-ratio--16x9
            .aspect-ratio-content
        .HeroContent.w-100.center.mb0-l.self-end.z-1.absolute-l.rellax(data-rellax-speed="4")
          .HeroContainer.pa4.relative
            h1.f1.f-headline-l.lh-title.fw7.tracked-tight.mb2 Sampurasun.
              span.db.f3.f1-l.tracked-tight Nepangkeun, abdi Indra Pratama
            div.dib.absolute
              i.icon.b i
            //- p.i.lh-solid.mb0 Designer & Graphic Digital Lover from Bandung Indonesia

  section.mw9.center.relative.ph4.mb4.mb6-l
    article.measure-wide.ml-2of6-l.rellax(data-rellax-speed="-1")
      p.f3.f2-l.tc Hallo, I`m Indra Pratama, Designer and Digital Art Enthusiasts from Bandung, Indonesia.

  section.mw9.center.relative.mb4.mb6-l
    .masonry.cf.mb0.mb5-l
      header.w-2of6-l.center.rellax(data-rellax-speed="-2")
        h2.f4.f1-l.lh-solid.fw7.tracked-tight.nowrap.tc.pa2 Latest Works
      .fl.w-100.w-2of6-l.pa2.center.tc.TiltContainer.rellax(data-rellax-speed="2")
          img(src="img/doris.jpg")
      .fl.w-100.w-2of6-l.mt6-l.pa2.center.tc.TiltContainer.rellax(data-rellax-speed="1")
          img(src="img/rish.jpg")
      .fl.w-100.w-2of6-l.pa2.center.tc.TiltContainer.rellax(data-rellax-speed="3")
          img(src="img/fuji.jpg")

    .w-2of6-l.center.pa2.rellax(data-rellax-speed="0")
      +Button4('View More', 'https://www.instagram.com/indraptama/')(class="w-100 tracked ttu")
