extends src/pug/_default.pug
include src/pug/_button.pug


block content
  div.container
    .Hero.text-center
      h1 Indra Pratama Putra
      h2 Notaris / PPAT Kabupaten Garut
      div
        p Perum. Puri Kulsum Limbangan Blok C.No.20
        p Jalan Raya Bandung-Tasikmalaya KM.52
        p Desa Limbangan Timur Kec.Limbangan
        p Kabupaten Garut
      
      div
        a(href="tel:+6208157007206") 0815-7007-206