---
permalink: /tags/
layout: layouts/home.njk
---
<div class="container-2 mh-auto ph-1">
<h1 class="gamma">Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

</div>