// Margin Utils
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-left: 0;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

// Padding
.pt-1 {
  padding-top: $leading !important;
}

.pb-1 {
  padding-bottom: $leading !important;
}

.ph-1 {
  padding-left: $leading !important;
  padding-right: $leading !important;
}

.container-1 {
  max-width: 50em;
}

.container-2 {
  max-width: 42em;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
