/* ==========================================================================
    $ Content Helper
   ========================================================================== */

/**
 * Text Align
 */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.summary {
	font-style: italic;
}