/**
 * Clearfix mixin
 */

@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

/**
 * Imager Replacement 
 */

 @mixin ir {
 	overflow: hidden;

	  &:before {
	    content: "";
	    display: block;
	    width: 0;
	    height: 100%;
	  }
 }