<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="Indra Pratama Putra Blog. Designer and frontend web developer. HTML5, JavaScript, CSS3">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="//www.google-analytics.com" rel="dns-prefetch">
        <link href="//plus.google.com/+IndraPratamaPutra" rel="author">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans:300,300italic,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/asset/css/style.prefix.css">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="/asset/css/style.ie.css">
        <![endif]-->
        <script src="/asset/js/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>
    	<header class="main-header text-center" role="banner">
			<h1 class="zeta"> <a class="ava" href="http://www.indrapratama.com">Indra Pratama Putra</a></h1>
		</header>

		<main class="post main-content" role="main">