/* ==========================================================================
    $ List
   ========================================================================== */

ol,
ul,
dl {
	margin-bottom: $base-spacing-unit;
}

ol {
	 list-style-type: decimal;
	 list-style-position: outside;
	 > li {
	 	&:after {
	 		content: ";";
	 	}
	 }

	 > li:last-child{
	 	&:after {
	 		content: "";
	 	}
	 }
}


/**
 * inline list
 */

 .list--inline {
	@include clearfix;

	> li {
		//float: left;
		margin-right: $half-spacing-unit;
		display: inline-block;
		vertical-align: middle;
	}
}
