/* ==========================================================================
    $ Helper Class
   ========================================================================== */

/**
 * Text align
 */

.text--left {text-align: left!important}
.text--right {text-align: right!important}
.text--center {text-align: center!important}
.text--justify {text-align: justify!important;}

/**
 * Text Color
 */
.text--white {color: #fcfcfc!important}
.text--black {color: #222!important}


/**
 * Text Transform
 */

.caps {text-transform: uppercase!important;}
.capital {text-transform: capitalize!important;}
.lowercap {text-transform: lowercase!important;}

/**
 * Text Weight
 */

.text--bold {font-weight: 800!important;}

/**
 * Force text fit in 35em
 */

.resisted {
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}



/**
 * Float Helper
 */

.float--left { float: left!important;}
.float--right { float: right!important;}
/**
 * Margin and Padding Helper
 */

// Set Base Spav

.flush--bottom {margin-bottom: 0}

 /* Padding */

/* Normal Pad */
.pad-top { padding-top: !important}
.pad-bottom { padding-bottom: !important}
.pad-left {padding-left: !important}
.pad-right {padding-right: !important}
.pad-side {padding-right: !important; padding-left: !important}
.pad-tall {padding-top: !important;padding-bottom: !important}
.pad-all {padding: !important}




/* Large Pad */
.pad-top--large { padding-top: 3+em!important}
.pad-bottom--large { padding-bottom: 3+em!important}
.pad-left--large {padding-left: 3+em!important}
.pad-right--large {padding-right: 3+em!important}
.pad-side--large {padding-right: 3+em!important; padding-left: 3+em!important}
.pad-tall--large {padding-top: 3+em!important;padding-bottom: 3+em!important}
.pad-all--large {padding: 3+em!important}

/**
 * Inset
 */
 .inset {
    padding: rhythm(.5,16px); 
 }


/**
 * Clearfix
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}