/* ==========================================================================
    $ Modules
   ========================================================================== */

/**
 * Reset Margin bottom of module last chlid 
 */

 .module {
 	*:last-child {
 		margin-bottom: 0;
 	}
 }

/**
 * Default Module
 */

 .module {
	@include pxtorem(padding,16);
	@include pxtorem(margin,8);
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	box-shadow: 1px 1px 1px #ff9900,
 				2px 2px 1px #ff9900,
 				3px 3px 1px #ff9900,
 				4px 2px 1px #ff9900,
 				5px 5px 1px #ff9900;
 }

.module--marginShort {
	@include pxtorem(margin-left, 4);
	@include pxtorem(margin-right,4);
}

/**
 * Extra Space
 */

.extra-space--up {
	position: relative;
	margin-top:0!important;
	padding-top: 0!important;
	padding-bottom: 2rem!important;
	&:before {
		content: "";
		width: 100%;
		position: absolute;
		top: -24px;
		top: -1.5rem;
		left: 0;
		right: 0;
		bottom: 0;

		background: inherit;
		height: 24px;
		height: 1.5rem;

		z-index: 5;
	}

	*:first-child {
		margin-top: 0!important;
		padding-top: 0!important;
	}
}