/* ==========================================================================
    $ Navigation
   ========================================================================== */

/**
 * Remove underline link on nav container
 */

 nav {
 	a {
 		text-decoration: none;
 	}
 }



/**
 * Inline Navigation
 */

.nav--inline {

	> li {
		display: inline;
	}
}


/**
 * Nav fit
 */

.nav--fit {
	display: table;
	width: 100%;
	> li {
		display: table-cell;
		vertical-align: middle;

		a {
			display: block;
		}
	}
}

/**
 * Nav Stacked
 */
 .nav--stack {

 	> li {
 		display: block;
 	}
 }



/**
 * Navigation Block;
 */

.side-bar--right {
	//@include pxtorem(padding-left, 16);
	//@include pxtorem(padding-right, 16);
	//@include pxtorem(height, 48);
	
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 250px;
	height: 100%;


	box-shadow: inset 2px 0 rgba(#000, .1);
	
	
	// Palm state
	@include bp(baby-bear){
		
	}
}


 .nav--block {
 	display: block;
 	width: 100%;
 	vertical-align: middle;

 	a {
 		@include pxtorem(padding-left, 16);
		@include pxtorem(padding-right, 16);
 		@include pxtorem(height, 48);
 		
 		display: block;
 		width: 100%;
 		line-height: 3rem;
 		vertical-align: top;
		border-bottom: 1px solid rgba(#222, .1);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
 		
 		&:hover,
 		&:focus {
 			background:red;
 		}

 	}
 }

