footer.Main-Footer.Container.Container--small
  .u-padTop.u-textCenter
    nav.GridFlex
      a(href="http://") link
      a(href="http://") link
      a(href="http://") link
      a(href="http://") link
      a(href="http://") link
    h6 &copy; Indra Pratama Putra | 2015
