mixin Button4 (name,link)
  // Button4
  a.button4.dib.v-mid.b.link.bg-transparent.br2.relative.c-primary.ba.bw1.b--c-primary.overflow-hidden(href!=link)&attributes(attributes)
    span.db.f6.lh-solid.b.pv3.ph5.link.bg-transparent.tc.relative.z-1.br2=name
    span.slidebg.db.w-100.absolute
