//-
  based on html5boilerplate
  https://github.com/h5bp/html5-boilerplate
doctype
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-compatible",content="IE=edge")
    title Indra Pratama Putra
    meta(name="description", content="Indra Pratama Portfolio & Blogs")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    // Place favicon.ico and apple-touch-icon(s) in the root directory
    //- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,500i|Poppins:600,700" rel="stylesheet">
    //- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    //- link(rel="stylesheet", href="css/index.css")
    //- link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/index.css")

    script(src="js/vendor/modernizer-2.8.3.min.js")

  body.ba.b--yellow.bw5
    main.relative
      block content




    .pagegrid.mw9.center.dn.db-l
      .cf.relative.dt.w-100
        .pagegrid-item.dtc.w-1of6-l
        .pagegrid-item.dtc.w-1of6-l
        .pagegrid-item.dtc.w-1of6-l
        .pagegrid-item.dtc.w-1of6-l
        .pagegrid-item.dtc.w-1of6-l
        .pagegrid-item.dtc.w-1of6-l

    script(src="js/vanilla-tilt.min.js")
    script(src="js/rellax.min.js")
    script(src="js/main.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    //- script
    //-   window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
    //- script(src="js/plugins.js")
    //- script(src="js/main.js")
