/* ==========================================================================
    $ Single Page
    ========================================================================== */

.blog__article {
	max-width: 45em;
	margin: 0 auto;
}

.blog__article {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	dl,
	ul,
	ol {
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto; 
	}

}