/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Base (https://github.com/suitcss/base) + modifed
   ========================================================================== */
/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */
/*
 * 1. Reset typography, will add manualy. see _typo.scss
 */
/* line 25, ../sass/jagra-fw/_reset.scss */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
  /* 1 */
  line-height: 1;
  /* 1 */
}

/* line 31, ../sass/jagra-fw/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/jagra-fw/_reset.scss */
iframe {
  border: 0;
}

/* line 42, ../sass/jagra-fw/_reset.scss */
ol,
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
/* line 54, ../sass/jagra-fw/_reset.scss */
[tabindex="-1"] {
  outline: none;
}

/**
 * Remove margin-bottom on hgroup or module last-child
 */
/* line 65, ../sass/jagra-fw/_reset.scss */
hgroup *:last-child,
.module *:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
   Buttons (https://github.com/suitcss/button) + modifed
   ========================================================================== */
/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [btn--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [btn--modifier]" type="submit">Button text</button>
 * <input class="Button [btn--modifier]" type="submit" value="Button text">
 */
/**
 * Button template
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Prevent wrapping across multiple lines.
 */
/* line 32, ../sass/jagra-fw/_button.scss */
.btn {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border: 1px solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0.4em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* 6 */
  vertical-align: middle;
  white-space: nowrap;
  /* 7 */
}

/*
 * make button slightly larger on touch device, require modernizer touch detection
 */
/* line 62, ../sass/jagra-fw/_button.scss */
html.touch .btn {
  padding: 1em .75em;
}

/**
 * UI states
 */
/* line 72, ../sass/jagra-fw/_button.scss */
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}

/* line 77, ../sass/jagra-fw/_button.scss */
.btn:disabled,
.btn.is-disabled {
  cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */
/* line 85, ../sass/jagra-fw/_button.scss */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/**
 * Modifier: full-width buttons
 */
/* line 96, ../sass/jagra-fw/_button.scss */
.btn--full {
  display: block;
  width: 100%;
}

/**
 * START ADD COSTUM CLASS
 */
/* line 32, ../sass/screen.scss */
html {
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 40em) {
  /* line 32, ../sass/screen.scss */
  html {
    font-size: 87.5%;
    line-height: 1.3;
  }
}

/* line 42, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* line 47, ../sass/screen.scss */
h3 {
  /* Old browser */
  font-size: 24;
  /* Modern Browser */
  font-size: 1.5rem;
}

/* line 51, ../sass/screen.scss */
p {
  /* Old browser */
  font-size: 16;
  /* Modern Browser */
  font-size: 1rem;
  /* Old browser */
  margin-bottom: 16;
  /* Modern Browser */
  margin-bottom: 1rem;
}

/**
 * Main Content Behavior
 */
/* line 63, ../sass/screen.scss */
.main {
  position: absolute;
  width: 100%;
  height: 117%;
  overflow-y: hidden;
  background: orange;
}

/* line 73, ../sass/screen.scss */
.full-screen-slide {
  width: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-transform: translateZ(0);
  /* Optional: When heavy at iOS6+ */
}

/* line 81, ../sass/screen.scss */
.full-screen-slide__container {
  display: -webkit-box;
  display: -moz-box;
  display: -o-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: no-wrap;
  -moz-box-lines: no-wrap;
  -o-flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -o-flex-line-pack: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
/* line 90, ../sass/screen.scss */
.full-screen-slide__container > section {
  width: 90%;
}

/* line 95, ../sass/screen.scss */
.section__content {
  min-height: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 10000px;
}

/* line 105, ../sass/screen.scss */
.has-scroll {
  overflow-y: auto;
  height: 300px;
}

/* line 113, ../sass/screen.scss */
.text-white {
  color: white !important;
}
