/* ==========================================================================
    $ Typo
    ========================================================================== */
html {
	background-color: #ddd;
	font-size: 75%;
}

 body { 
 	font-family: 'Merriweather Sans', sans-serif;
 	font-size: 1rem;
 	line-height: $base-line-height;
 	font-weight: 400;
 	color: #444;
 	box-shadow: 0px 0px 3px rgba(#000,.5);
 }

 h1,h2,h3, dt {
 	font-family: 'Merriweather', serif;
 	font-weight: 400;
 	color: #111;
 }

 h4,h5,h6 {
 	font-family: 'Merriweather Sans', sans-serif;
 	font-weight: 700;
 	color: #111;
 }

 h1 {
 	font-size: 3.375rem;
 	line-height: 3.375rem;
 	margin-bottom: ($base-spacing-unit*3) - 3.375rem;
 }



h2 {
	font-size: 2rem;
	line-height: 2.7rem;
	margin-bottom: ($base-spacing-unit*3) - 2.7rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 2.4rem;
	margin-bottom: ($base-spacing-unit*2) - 2.4rem;
	padding-top: $base-spacing-unit;
}

h4,
.delta {
	font-size: 1.313rem;
	line-height: $base-line-height;
	margin-bottom: $base-spacing-unit;
	padding-top: $base-spacing-unit;
}


h5,
.epsilon,
dt {
	font-size: 1rem;
	line-height: $base-line-height;
	margin-bottom: 0;	
}


h6,
.zeta {
	font-size: 0.875rem;
	line-height: $base-line-height;
	margin-bottom: 0;
}



p {
	//font-size: 1rem;
	//line-height: $base-line-height;
	margin-bottom: $base-spacing-unit;
}


.small {
	font-size: 0.875rem;
}

time {
	display: block;
	font-size: 0.875rem;
	line-height: $base-line-height;
	margin-bottom: $base-line-height;
}



code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 0.875rem;
}

pre {
	overflow-x: scroll;
	white-space: pre;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: $base-spacing-unit;
	border-radius: 3px;
}

code {
	padding: 0;
}
