extends views/default.jade
block content
  main
    .Container.Container--medium.Hero
      h2.u-textHero.u-fontBold.u-marBottom--double When a men fell in love with design & code.
      .Container.Container--full.Container--small
        p Hallo, I`m Indra Pratama Putra,<br>designer and frontend web developer from Bandung Indonesia.
        
