extends views/default.jade
block content
  main
    .Container.Container--medium.Hero
      h2.u-textHero.u-fontBold.u-marBottom--double When a men fell in love with design & code.
      .Container.Container--full.Container--small.u-marBottom
        p Hallo, I`m Indra Pratama Putra,<br>designer and frontend web developer from Bandung Indonesia.
    
    .Container.Container--xLarge.u-cf.u-marBottom
      #js-Grid(data-columns)
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-01.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-02.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-03.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--3by4.bg-imgFull(style="background-image: url(img/pic-04.png)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--3by4.bg-imgFull(style="background-image: url(img/pic-05.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-06.png)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--3by4.bg-imgFull(style="background-image: url(img/pic-07.png)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--3by4.bg-imgFull(style="background-image: url(img/pic-08.png)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-09.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-010.png)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-011.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-012.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-013.png)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.bg-imgFull(style="background-image: url(img/pic-014.jpg)")
            .FlexEmbed-content
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
            
        a.u-linkBlock.figureHover(href="http://")
          .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--3by4.bg-imgFull(style="background-image: url(img/pic-015.png)")
            .FlexEmbed-content.bg-imgFull
              .figureHover-content
                h4.figureHover-title Image Title
                span.figureHover-tag lolo
              
        
