extends views/default.jade
block content
  main
    article
      .Container.Container--small
        img(src!='./'+cover)
        h1.u-textHero.u-marBot--double!=title
      .Container.Container--small
        div!=contents
