<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | indraptama</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.min.css">

        <script src="{{site.baseurl}}/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
    
      <header>
        <h1 class="delta">indraptama</h1>
        <nav>
          <a href="{{site.baseurl}}/index.html">Home</a>
          <a href="">Arcives</a>
          <a href="">Project</a>
          <a href="">About</a>
        </nav>
      </header>
      <!-- Web Content Start Here -->
      <section>
        {{ content }}
      </section>
      <!-- Web Content Ends Here -->
    
        
        




        <!-- Site Footer -->
      <footer>
        <div class="wrapper">
          <div class="footer--copyright">
            <p class="zeta">© Indra Pratama Putra | 2013</p>
          </div>
        </div>
      </footer>
      
        <!-- End Site Footer -->
         <script>
            document.write('<script src=' +
            ('__proto__' in {} ? '//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min' : '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min') +
            '.js><\/script>')
        </script>
        <script src="{{site.baseurl}}/js/helper.js"></script>
        <script src="{{site.baseurl}}/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

<!--
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
-->