.button4 {
  font-family: 'poppins', sans-serif;
  color: $color-primary;
  border-color: $color-primary;
  .slidebg {
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    background-color: $color-primary;
    transform: translate3d(-100%,0,0);
    transition: all 200ms ease-in;
  }

  &:hover{
    color: inherit;
    border-color: $color-primary;
    .slidebg {
      left: 0;
      transform: translate3d(0%,0,0);
      transition: all 200ms ease-out;
    }
  }

  &:active{
    color: $color-primary;
    border-color: $color-primary;
    .slidebg {
      left: 0;
      transform: translate3d(100%,0,0);
      transition: all 200ms ease-out;
    }
  }
}
