/*----------------------------------------------------*\
 *  PX to REM Calculation with fallback [-IIB1]
/*----------------------------------------------------*\
/**
 * This mixin will convert px measure unit to rem
 * and will add px fallback
 * Usage :
 * @include pxtorem(font-size, 18);
 *
 * result :
 * font-size : 16px;
 * font-size : 1rem; 
 */


 @mixin pxtorem($property, $in-value) {
	
 	$out-value:($in-value / $base-font-size)* 1rem;
 	/* Old browser */
 	#{$property}: $in-value;
 	/* Modern Browser */
 	#{$property}: $out-value;
 }

 @mixin remtopx($property, $in-value) {

 $number: $in-value;
 $out-value : strip-units($in-value) * $base-font-size;

 /* Old browser */
 #{$property} : $out-value;

 /* Modern Browser */
 #{$property} : $in-value;
 }