---
layout: layouts/base.njk
templateClass: tmpl-home
---
<article>


  <header class="PostHeader">
        
    <div class="container-2 mh-auto ph-1">
      <h1 class="">{{ title }}</h1>
    </div>
  </header>

  <div class="container-2 mh-auto ph-1">
    {{ content | safe }}
  </div>

  
  
</article>