
<section class="row">
	<div class="span5 offset1">
		<div class="hentry">
			<div class="row">
					<div class="page-title">
		  				<h1 class="entry-title">{{ page.title }} {% if page.tagline %} <br><small>{{ page.tagline }}</small>{% endif %}</h1>
		  			</div>
		  			
			</div>	
		</div>
	</div>	

	
	<div class="span5 cf">
  		
    		<ul class="inline tag_box">
		  		{% assign tags_list = site.tags %}  
		  		{% include JB/tags_list %}
			</ul>
  		
  	</div>	
  

  	<div class="span10 offset1">
  	<hr>
  		{% for tag in site.tags %} 
  	<h5 id="{{ tag[0] }}-ref"><i class="icon-tag"></i> {{ tag[0] }}</h5>
  		<ul>
   	 		{% assign pages_list = tag[1] %}  
    		{% include JB/pages_list %}
  		</ul>
		{% endfor %}

  	</div>	
</section>