/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

// @import Jagra Frameworks
	@import "jagra-fw/jagra-init";

html {
	//@include debug-vertical-alignment();
}

.wrapper {
	max-width: 72em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.wrapper--small {
	max-width: 40em!important;
}

p {
	
}


/* ==========================================================================
    $ THEME
   ========================================================================== */


/**
 * HTML 5 Element basic styling
 */
body {
	@include padding-leader(3,16px);
}


/**
 * Remove last element margin-bottom inside <section>
 */


 section {
 	@include padding-leader(3,16px) ;
 	@include padding-trailer(3,16px) ;
  	>*:last-child {margin-bottom: 0;}
 }



/**
 * HEADER
 */
 .main-header {
 	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;
 	width: 100%;
 	height: rhythm(3,16px);
 	border-bottom: 1px solid orange;
 	background:#ecf0f1;
 	z-index: 9999;
 }

 .header__logo {
 	width: rhythm(3,16px);
 	height: rhythm(3,16px);
 	background:orange;
	float: left;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
	&:hover {
		background:salmon;
	}
 }

 .main__nav {
 	ul {
 		height: rhythm(3,16px);
 	}

 	a {
 		@include padding-leader();
 		@include padding-trailer();
 		padding-left: 1em;
 		padding-right: 1em;

 		&:hover {background:red;}
 	}
 }


.section__title {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 0;

	&:before {
		content: "";
		position: absolute;
		top: rhythm(-.5,25.888px);
		left: 0;
		right: 0;
		
		display: block;
		width: rhythm(3,25.888px);
		height: rhythm(3,25.888px);
		margin: 0 auto;
		background:red;
		z-index: -1;
	}
}

/**
 * Hero 
 */

.hero {
	@include padding-leader(4,16px);
 	@include padding-trailer(4,16px);
 	background-color: orange;
 	//color: white;

 	.slogan {
 		//display: inline;
 		font-style: normal;
 		//background:#fcfcfc;
 		color: #222;
 		padding-left: .1em;
 		padding-right: .1em;
 		margin-bottom: 0;
 	}
}




/**
 * H Card
 */
.h-card {
	background:rgba(#2c3e50, 1);
	color: #fcfcfc;
	@include padding-leader(2,16px);
 	@include padding-trailer(2,16px);
}

.ratio--one-half {
	padding-bottom: rhythm(7,16px)
}
/**
 * Background
 */

 .bg--officeorange {
 	background:url("bg/office-orange.jpg") no-repeat center center;
 	-webkit-background-size: cover;
 	background-size: cover;
 }

 .bg--silver {
 	background-color: #ecf0f1;
 }

 .bg--darkblue {
 	background-color: #2c3e50;
 	a {color: #fcfcfc}
 }

.bg--emerald {
	background-color: #27ae60;
}

/**
 * Thumbnail
 */

.icon {
	@include inline-block;
	height: rhythm(2,16px);
	width: rhythm(2,16px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.icon--big {
	height: rhythm(5,16px);
	width: rhythm(5,16px);
}

.icon--block {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

.thumb--neonbox {background-image: url("icon/neonboxs.svg");}

.thumb--huruftimbul {background-image: url("icon/huruftimbul.svg");}
.thumb--plang {background-image: url("icon/plangtoko.svg");}
.thumb--konstruksi {background-image: url("icon/konstruksi.svg");}
.thumb--banner {background-image: url("icon/banner.svg");}



/* ==========================================================================
    $ Masonry Grid
   ========================================================================== */
.masonry__grid {

	 @include bp(mama-bear) {
	 	-moz-column-count:4;
	    -moz-column-gap: 0%;
	    -moz-column-width: 20%;
	    -webkit-column-count:4;
	    -webkit-column-gap: 3%;
	    -webkit-column-width: 20%;
	    column-count: 4;
	    column-gap: 3%;
	    column-width: 20%;
	}

}

.masonry__item {
	display: block;
	background:#2ecc71;
	//padding: rhythm(.5,16px);
	margin-bottom: rhythm(.5,16px);
	box-shadow: 0px 1px 3px darken(#2c3e50, 10%);
}

// Masonry Item Number
.masonry__item_1 {

}

.masonry__item_2 {

}
.masonry__item_3,
.masonry__item_4 {
	
}


.masonry__item_container {

}

.masonry__item_details {
	padding: rhythm(.5,16px);
}


.masonry__img {
	@extend .img-r;

}


.link--nostyle {
	text-decoration: none;
}
